<div class="row">
	<div class="main col-md-offset-3 col-md-6">
		<h2><%= image_tag 'naganocake2.png', :height => '40' %> <%= @customer.full_name %>さんの会員詳細</h2>

		<table class="table">
			<tr>
				<th>顧客ID</th>
				<td><%= @customer.id %>
					<strong class="is_deleted">
						<% if @customer.is_deleted? %>
						    無効会員
						<% else %>
							有効会員
						<% end %>
					</strong>
				</td>
			</tr>
			<tr>
				<th>氏名</th>
				<td><%= @customer.family_name %>
					<%= @customer.first_name %>
				</td>
			</tr>
			<tr>
				<th>フリガナ</th>
				<td><%= @customer.kana_family_name %>
					<%= @customer.kana_first_name %>
				</td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><%= @customer.postal_code %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= @customer.address %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%= @customer.phone_number %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= @customer.email %></td>
			</tr>
		</table>

		<div class="col-xs-2">
			<%= link_to '編集する', edit_admins_customer_path(@customer), class: "btn btn-primary btn-md" %>
		</div>

		<div class="col-xs-4">
			<%= link_to '注文履歴一覧を見る', admins_orders_path, class: "btn btn-primary btn-md" %>
		</div>

	</div>
</div>