<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<h2 class="title">マイページ</h2>

    <strong>登録情報</strong>
    <%= link_to "編集する", edit_customer_path, class: "btn btn-primary", style: "margin-left:12px;" %>
    <%= link_to 'パスワードを変更する', edit_customer_registration_path, class: "btn btn-primary", style: "margin-left:12px;" %></div>


    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered" style="width:80%" >
          <tr class="thead-light">
            <th  style="width:15%">氏名</th>
            <td  style="width:75%">
              <%= @customer.family_name %>
              <%= @customer.first_name %>
            </td>
          </tr>

          <tr class="thead-light">
            <th>カナ</th>
            <td>
              <%= @customer.kana_family_name %>
              <%= @customer.kana_first_name %>
            </td>
          </tr>

          <tr class="thead-light">
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>

          <tr class="thead-light">
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>

          <tr class="thead-light">
            <th>電話番号</th>
            <td><%= @customer.phone_number %></td>
          </tr>

          <tr class="thead-light">
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <strong>発送先</strong>
      <%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-primary", style: "margin-left:12px;" %><br/>

      <strong>注文履歴</strong>
      <%= link_to '一覧を見る', orders_path, class: "btn btn-primary", style: "margin:12px;" %>
    </div>

   </div>
  </div>
</div>
