<div class="main">
  <div class="container">
    <div class="row">
      <br><br><br><div class = "col-sm-offset-1 headline">注文情報入力</div>
      <%= form_with(model: @order, local: true, url: orders_confirm_path, method: :post) do |f| %>
      <div class="order_content">
          <h4>支払方法</h4>
          <label class="order_select"><%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %><label class="order_choice">クレジットカード</label></label><br>
          <label class="order_select"><%= f.radio_button :payment_method, :銀行振込 %><label class="order_choice">銀行振込</label></label>
      </div>
      <div class="order_content">
          <h4>お届け先</h4>
              <div class="order_select">
                  <label><%= radio_button_tag 'address_select', :ご自身の住所, checked: "checked" %><label class="order_choice">ご自身の住所</label></label><br>
                  <%= current_customer.postal_code %>　<%= current_customer.address %>　<%= current_customer.family_name %><%= current_customer.first_name %>
              </div>
              <div class="order_select">
              <label><%= radio_button_tag 'address_select', :登録済住所から選択 %><label class="order_choice">登録済住所から選択</label></label><br>
              <%= f.select(:id, ShippingAddress.where(customer_id: current_customer.id).map{ |a| [a.postal_code + a.address + a.receiver_name, a.id] }) %>
            </div>
              <div class="order_select">
              <label><%= radio_button_tag 'address_select', :新しいお届け先 %><label class="order_choice">新しいお届け先</label></label><br>
                  <table class="table-noborder col-sm-8">
                      <tr>
                          <th>郵便番号(ハイフンなし)</th>
                          <td><%= text_field_tag 'new_postal_code','',size:50 %></td>
                      </tr>
                      <tr>
                          <th>住所</th>
                          <td><%= text_field_tag 'new_address','',size:50 %></td>
                      </tr>
                      <tr>
                          <th>宛名</th>
                          <td><%= text_field_tag 'new_receiver_name','',size:50 %></td>
                      </tr>
                  </table>
              </div>
      </div>
      <div class="btn_space">
      </div>
      <div class="success_btn">
      <%= f.submit '確認画面へ進む', class: "btn btn-primary", id:"cart_success_btn" %>
      </div>
  <% end %>
  <BR></div>
  </div>
  </div>