<div class="container">
  <div class="row">
	<div class="col-xs-12">
		<h3>商品編集</h3>

		<div class="col-xs-3">
			<div class="img_field">
			<%= image_tag "no_image.jpg", :size => '200x160' %>
			</div>
		</div>

		<div class="col-xs-6">
			<%= form_for(@item, url:admins_items_path) do |f| %>
			<div class="item_form">
				<%= f.label "商品名　　" %>
				<%= f.text_field :name, autofocus: true, size: 40 %>
			</div>
			<div class="item_form">
				<%= f.label "商品説明　" %>
				<%= f.text_area :introduction, autofocus: true, size: "39x5" %>
			</div>
			<div class="item_form">
				<%= f.label "ジャンル　" %>
				<%= f.collection_select :genre, Genre.all, :id, :name %>
			</div>
			<div class="item_form">
				<%= f.label  "税抜価格　" %>
				<%= f.text_field :non_taxed_price, autofocus: true, size: 40 %>
			</div>
			<div class="item_form">
				<%= f.label "販売ステータス" %>
				<%= f.select :is_active, [['販売中', true],['売切れ', false]] %>
			</div>
		</div>

		<div class="col-xs-1">
			<%= f.submit '変更を保存', class: "btn btn-primary btn-md" %>
		</div>

		<% end %>
	</div>
	</div>
  </div>
</div>
