<div class="container">
  <div class="row">
	<div class="col-xs-12">
		<h2>商品編集</h2>

		<%= form_for(@item, url:admins_item_path) do |f| %>
		<div class="col-xs-4">
			<div class="item_image">
				<%= attachment_image_tag @item, :image, class: "img", fallback: "no_image.jpg", size:"300x240" %>
				<%= f.attachment_field :image, placeholder: "画像" %>
		    </div>
		</div>

		<div class="col-xs-6">
			<div class="item_form">
				<%= f.label "商品名　　" %>
				<%= f.text_field :name, autofocus: true, size: 40 %>
			</div>
			<div class="item_form">
				<%= f.label "商品説明　" %>
				<%= f.text_area :introduction, autofocus: true, size: "39x5" %>
			</div>
			<div class="item_form">
				<%= f.label "ジャンル　" %>
				<%= f.collection_select :genre_id, Genre.all, :id, :name %>
			</div>
			<div class="item_form">
				<%= f.label  "税抜価格　" %>
				<%= f.text_field :non_taxed_price, autofocus: true, size: 40 %>
			</div>
			<div class="item_form">
				<%= f.label "販売ステータス" %>
				<%= f.select :is_active, [['販売中', true],['売切れ', false]] %>
			</div>
		</div>

		<div class="col-xs-2" style="position:absolute; top: 300px; right: 20px;">
			<%= f.submit '変更を保存', class: "btn btn-primary btn-md" %>
		</div>

		<% end %>
	</div>
  </div>
</div>
