<div class="container">
  <div class="row">
	<div class="col-xs-12">
		<h3>商品一覧</h3>

　　　　　<div class= "btn" style="position:absolute; top: 35px; right: 20px;">
	       <%= link_to new_admins_item_path do %>
	       <label class="btn btn-primary btn-md">新規登録</label>
	       <% end %>
	   </div>

	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td>
						<%= link_to item.name, admins_item_path(item.id) %>
					</td>
					<td><%= item.non_taxed_price %></td>
					<td><%= item.genre.name %></td>
					<td><% if item.is_active? %>
						  販売中
						<% else %>
						  売切れ
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>


	</div>
  </div>
</div>
