<div class="container">
  <div class="row">
	<div class="col-xs-12">
		<h3>商品詳細</h3>

		<div class="col-xs-3">
			<div class="img_field">
			<%= attachment_image_tag(@item, :image, :size => '200x160', fallback: "no_image.jpg") %>
			</div>
		</div>

		<div class="col-xs-6">
			<table class="table">
				<tr>
					<th>商品名</th>
					<th><%= @item.name %></th>
				</tr>
				<tr>
					<th>商品説明</th>
					<th><%= @item.introduction %></th>
				</tr>
				<tr>
					<th>ジャンル</th>
					<th><%= @item.genre.name %></th>
				</tr>
				<tr>
					<th>税込価格（税抜価格）</th>
					<th><%= @item.non_taxed_price %></th>
				</tr>
				<tr>
					<th>販売ステータス</th>
					<th><%= @item.is_active %></th>
				</tr>
			</table>
		</div>

		<div class="col-xs-2">
			<%= link_to edit_admins_item_path do %>
			<label class="btn btn-primary btn-md">編集する</label>
			<% end %>
		</div>

	</div>
	</div>
  </div>
</div>
