<div class="container">
  <div class="row">
    <div class="col-xs-12">
 
      <% if @shipping_address.errors.any? %>
        <h3><%= @shipping_address.errors.count %>error occurrence</h3>
        <ul>
          <% @shipping_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

			<h2 class="title">配送先編集</h2>
			<div class="col-md-offset-3 col-md-6, col-xs-offset-2 col-xs-8" style="text-align: left">
        <div class="form-field">
        <dl>
    		<%= form_for (@shipping_address) do |f| %>
    		<dt><%= f.label :郵便番号%></dt>
    		<dd><%= f.text_field :postal_code %></dd>

    		<dt><%= f.label :住所%></dt>
    		<dd><%= f.text_field :address %></dd>

    		<dt><%= f.label :宛名%></dt>
    		<dd><%= f.text_field :receiver_name %></dd>
      </dl>

    		<%= f.submit "編集する", class: "btn btn-primary" %>
  			<% end %>
      </div>
      </div>

  		</div>
  	</div>
	</div>
</div>
