<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%= image_tag 'naganocake2.png', :height => '40' %> 配送先登録/一覧</h2>
    </div>

    <div class="row">
      <% if @shipping_address.errors.any? %>
        <h3><%= @shipping_address.errors.count %>error occurrence</h3>
        <ul>
          <% @shipping_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

    <div class="col-md-offset-3 col-md-6, col-xs-offset-2 col-xs-8">

      <%= form_for (@shipping_address) do |f| %>
      <dl>
        <dt><%= f.label :郵便番号, "郵便番号(ハイフンなし)" %></dt>
        <dd><%= f.text_field :postal_code %></dd>

        <dt><%= f.label :住所 %></dt>
        <dd><%= f.text_field :address, size: 53 %></dd>

        <dt><%= f.label :宛名 %></dt>
        <dd><%= f.text_field :receiver_name %></dd>
      </dl>

      <div class="col-md-offset-3 col-md-6, col-xs-offset-2 col-xs-8" style="text-align: right;">
        <%= f.submit "登録する", class: "btn btn-success", style: "margin-bottom:40px;" %>
        <% end %>
      </div>
    </div>
    </div>

<div class="row">
  <div class="col-sm-12">

      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th class="active" style="width:10%;">郵便番号</th>
            <th class="active" style="width:40%;">住所</th>
            <th class="active" style="width:15%;">宛名</th>
            <th class="active" style="width:30%;"></th>
          </tr>
        </thead>

        <tbody>
          <% @shipping_addresses.each do |shipping_address| %>
          <tr>
            <td><%= shipping_address.postal_code %></td>
            <td><%= shipping_address.address %></td>
            <td><%= shipping_address.receiver_name %></td>
            <td class="text-center"><%= link_to "編集する", edit_shipping_address_path(shipping_address), class: "btn btn-primary" %>
            <%= link_to "削除する", shipping_address_path(shipping_address), method: :delete, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  </div>



</div>