<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-xs-offset-10 col-xs-2">
      <div><%= link_to "カートを空にする", destroy_all_cart_items_path(@cart_items), method: :delete, class:"btn btn-danger" %></div>
    </div>
  </div>

    <div class="row">
      <table class="table-bordered">
      <thead>
        <tr class="active">
            <th class="col-sm-5">商品名</th>
            <th class="col-sm-2">単価（税込）</th>
            <th class="col-sm-2">数量</th>
            <th class="col-sm-2">小計</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
      <% sum_price = 0 %>
      <% @cart_items.each do |cart_item| %>
          <% if cart_item.customer_id == current_customer.id %>
        <tr>
          <td>
              <%= attachment_image_tag cart_item.item, :image, fallback: "no_image.jpg", size:'100x80' %>
              <%= cart_item.item.name %>
          </td>
          <td>
              <% taxed_price = cart_item.item.non_taxed_price * 1.1 %>
              <%= taxed_price.floor %>
          </td>
          <td>
              <%= form_for(cart_item, url:cart_item_path(cart_item.id)) do |f| %>
                  <%= f.text_field :count, size:"5" %>
                  <%= f.submit '変更', class: "btn btn-primary" %>
              <% end %>
          </td>
          <td>
            <% subtotal_price = taxed_price.floor * cart_item.count %>
            <%= subtotal_price.floor %>
          </td>
          <td><%= button_to '削除する', cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% sum_price += subtotal_price.floor %>
          <% end %>
      <% end %>
  </tbody>
  </table>
  <div class="col-sm-offset-8 col-sm-4">
  <table class="table table-bordered" >
      <tr>
          <th class="active col-sm-2">合計金額</th>
          <td class="col-sm-1"><%= sum_price %></td>
      </tr>

          <tbody>
            <% sum_all = 0 %>
            <% @cart_items.each do |cart_item| %>
            <% if cart_item.customer_id == current_customer.id %>
            <tr style="height:8em">
              <td>
                <%= attachment_image_tag cart_item.item, :image, fallback: "no_image.jpg", size:'100x80' %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <% taxed_price = cart_item.item.non_taxed_price * 1.1 %>
                <%= taxed_price.floor %>
              </td>
              <td>
                <%= form_for(cart_item, url:cart_item_path(cart_item.id)) do |f| %>
                <%= f.text_field :count, size:"5" %>
                <%= f.submit '変更', class: "btn btn-primary" %>
                <% end %>
              </td>
              <td>
              </td>
              <td>
                <%= button_to '削除する', cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

        <div class="col-xs-offset-8 col-xs-4">
          <table class="table table-bordered" >
            <tr>
              <th class="active col-xs-2">合計金額</th>
              <td class="col-xs-3"><%= sum_all %></td>
            </tr>
          </table>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <%= link_to '買い物を続ける', root_path, class: "btn btn-primary" %><br>
          </div>
          <div class="col-xs-12">
            <div class="success_btn">
              <%= link_to '情報入力に進む', new_order_path, class: "btn btn-success", id:"cart_success_btn" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>