<div class="container">
  <div class="row">

    <div class="col-lg-2 col-xs-12 genre-form">
      <%= render 'layouts/genre_seach', genres: @genres %>
    </div>
    <!--URLにジャンルIDが含まれていたらジャンル商品を表示する-->
    <% if params[:genre_id] %>
      <div class="col-lg-10 col-xs-12">
        <h2 class="page-title"><%= @genre.name %> 一覧
          <span style="font-size: 20px">（全<%= @items.count %>件）</span>
        </h2>

        <div class="row">
          <div class="col-lg-9">
          <% @items.each do |item| %>
            <div class="col-xs-6">
              <%= link_to item_path(item.id) do %>
              <div class="item-img">
                <%= attachment_image_tag item, :image, size: '270x216', fallback: 'no_image.jpg' %><br>
              </div>
              <div class="item-name">
                <%= item.name %>
                <% end %>
              </div>
                <% taxed_price = item.non_taxed_price * 1.1 %>
                ¥<%= taxed_price.floor %>　(税込)<br>
            </div>
          <% end %>
          <%= paginate @items, class: "paginate"%>
          </div>
        </div>


    <% else %>
    <!--URLにジャンルIDがない時は商品一覧を表示する-->

      <div class="col-md-10 col-xs-12">
          <h2>
            商品一覧<span style="font-size: 20px">（全<%= @items.count %>件）</span>
          </h2>

          <div class="row">
            <% @items.each do |item| %>
            <div class="col-md-4 col-xs-6">
              <%= link_to item_path(item.id) do %>
              <div class="item-img">
                <%= attachment_image_tag item, :image, size: '270x216', fallback: 'no_image.jpg' %><br>
              </div>
              <div class="item-name">
                <%= item.name %>
                <% end %>
              </div>
                <% taxed_price = item.non_taxed_price * 1.1 %>
                  ¥<%= taxed_price.floor %>　(税込)<br>
            </div>
            <% end %>

            <div class="col-md-10 col-xs-12">
              <%= paginate @items, class: "paginate" %>
            </div>
          </div>

        </div>
    <% end %>

  </div>
</div>
