<div class="container">
        <h2><%= image_tag 'naganocake2.png', :height => '40' %> 注文履歴詳細</h2>
    <div class="row">
		<div class="col-sm-8">
		    <table class="table">
		        <tr>
		            <th>購入者</th>
		            <td><%= link_to @order.customer.full_name, admins_customer_path(@order.customer) %></td>
		        </tr>
		        <tr>
		            <th>配送先</th>
		            <td>〒<%= @order.order_info %></td>
		        </tr>
		        <tr>
		            <th>支払い方法</th>
		            <td><%= @order.payment_method %></td>
		        </tr>
		        <tr>
		            <th>注文ステータス</th>
					<td>
						<%= form_for(@order, url: admins_order_path(@order)) do |f| %>
						    <%= f.select :status, options_for_select(Order.statuses) %>
					        <%= f.submit '更新', class: "btn btn-primary btn-sm" %>
				        <% end %>
			        </td>
		        </tr>
		    </table>
		</div>
	</div>

	<div class="row">
	    <div class="col-sm-8">

			<table class="table">
				<thead>
					<tr class= "active">
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>製作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @order_items.each do |a| %>
					    <tr>
								<td><%= a.item.name %></td>
								<td><%= a.taxed_price %></td>
								<td><%= a.count %></td>
								<td><% price = a.taxed_price * a.count %>
									<%= price %>
								</td>
								<td>
									<%= form_for(a, url: admins_order_item_path(a.id)) do |f| %>
									<%= f.select :making_status, options_for_select(OrderItem.making_statuses) %>
								    <%= f.submit '更新', class: "btn btn-primary" %>
                                    <% end %>
								</td>
					    </tr>
					<% end %>
				</tbody>
			</table>
	    </div>
	    <div class="price_detail">
			<div class="col-sm-2">
			    <h4><strong>商品合計</strong></h4>
			    <h4><strong>送料</strong></h4>
			    <h4><strong>請求金額合計</strong></h4>
			</div>
			<div class="col-sm-2">
			    <h4><%= @order.total_price - @order.shipping_fee %>円</h4>
			    <h4><%= @order.shipping_fee %>円</h4>
			    <h4><%= @order.total_price %>円</h4>
			</div>
		</div>
	</div>
</div>